.env
node_modules/
dist/
bin
main.css
server/src/database/bym-db*
server/src/database/migrations/.snapshot*
server/data
.idea
api-versioning
android/bymr.keystore
android/apk/BYMRefitted.apk
CLAUDE.md
.DS_Store
