volumes:
  db:
  phpmyadmin:


networks:
  bymr:


services:
  web:
    build: ./server
    environment:
      - BASE_URL=${BASE_URL}
      - PORT=3001
      - DB_NAME=${DB_NAME}
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      # DO NOT USE THIS IN PRODUCTION!
      - SECRET_KEY=${SECRET_KEY}
      - REDIS_URL=redis://redis:6379
    networks:
      - bymr
    ports:
      - ${API_PORT}:3001
    develop:
      watch:
        - action: sync
          path: server
          target: /app
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
  db:
    image: mariadb:10.6
    environment:
      - MARIADB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MARIADB_USER=${DB_USER}
      - MARIADB_PASSWORD=${DB_PASSWORD}
      - MARIADB_DATABASE=${DB_NAME}
    ports:
      - ${DB_PORT}:3306
    networks:
      - bymr
    volumes:
      - db:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
  phpmyadmin:
    image: phpmyadmin:5
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - PMA_HOST=db
    ports:
      - ${PHP_MY_ADMIN_PORT}:80
    networks:
      - bymr
    depends_on:
      - db
  redis:
    image: redis:8.0-M03-bookworm
    ports:
      - ${REDIS_PORT}:6379
    networks:
      - bymr
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 3

